{% extends "base.html" %}
{% block title %}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center" >Financial Inclusion Project</h1>
      <p style="color: #6c757d; padding-top: 60px;">
        In the dynamic landscape of traditional banking across African countries, the imperative to expand operations is frequently thwarted by the pragmatic hurdle of pinpointing optimal locations for establishing new branches. Within this context, our initiative is deeply rooted in the recognition of this challenge, propelling us towards the utilization of data analysis as a powerful tool. Our overarching goal is to not only identify avenues for growth but also to significantly augment financial accessibility throughout the continent. Through a judicious application of data-driven insights, we aim to navigate through the complexities of the African banking sector, paving the way for strategic expansion and tangible improvements in financial inclusivity.
      </p>
    </div>
  </div>
</div>
{% endblock content %}

